# API
PORT=3001
HOST=0.0.0.0
JWT_SECRET=change-me-in-production
DB_FILE_NAME=./data/lab.db

# Docker
DOCKER_SOCKET=/var/run/docker.sock
LAB_SHARED_NETWORK=lab-shared
LAB_DOMAIN=lab

# Web
NUXT_API_URL=http://api:3001

# Traefik
TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
